@model IEnumerable<LiteratorVolgograd.Models.Project>
@using System.Text.RegularExpressions;
@{
    ViewData["Title"] = "ПРОЕКТЫ";
}

<!DOCTYPE html>
<html>
<body>
    <a class="editor-only btn btn-primary float-right" asp-action="ManageProject" asp-controller="Projects">Добавить проект</a>
    <br><br>
    @foreach (var b in Model)
    {
        var foundPicture = Regex.Match(b.Content, "<img src=\"(.+?)\"").Groups[1].Value;

        <a asp-action="ViewProject" asp-controller="Projects" asp-route-id="@b.Id" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="row">
                <div class="col-sm-3">
                    <img style="width: 100%; display: block; max-height:150px; object-fit: cover;" src=@(foundPicture == "" ? "/images/no_photo.png" : foundPicture) alt="Card image">
                </div>
                <div class="col">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@b.Title</h5>
                        <small class="text-muted">@b.Date</small>
                    </div>
                    <p class="mb-1"><span class="badge badge-success">Проекты</span></p>
                </div>
            </div>
        </a>
        <br>
    }
</body>
</html>
