@model IEnumerable<LiteratorVolgograd.Models.News>
@{
    ViewData["Title"] = "НОВОСТИ";
}

<!DOCTYPE html>
<html>
<body>
    <a class="btn btn-primary float-right" asp-action="ManageNews" asp-controller="News">Добавить новость</a>
    <br><br>
    @foreach (var b in Model)
    {
        <a asp-action="ViewNews" asp-controller="News" asp-route-id="@b.Id" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@b.Title</h5>
                <small class="text-muted">@b.Date</small>
            </div>
            <p class="mb-1"><span class="badge badge-info">Новости</span></p>
        </a>
        <br>
    }
</body>
</html>

